input[type=color], 
input[type=date], 
input[type=datetime-local], 
input[type=datetime], 
input[type=email], 
input[type=month], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel], 
input[type=text], 
input[type=time], 
input[type=url], 
input[type=week], 

/*input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #0C0;
} 设置输入框默认值颜色
*/

body{font-size: .8rem;}
 
 
 /*运输服务*/
.chatrecord .chatrecord-content {
	padding-bottom:65px;
}
.chatrecord .chatrecord-content a {
	display:block;
	padding: .4rem;
    height: 3rem;
	position:relative;	
	border-bottom:3px solid #f1f1f1;
}
.chatrecord .chatrecord-content a img {
	width:3rem;
	height:3rem;
	border-radius:50%;
	float:left;
 }
.chatrecord .chatrecord-content a .News-icon-box{
    width:3rem;
    height:3rem;
    float:left;
    background-color: #27c1f7;
    text-align: center;
    line-height: 3rem;
}


.chatrecord .chatrecord-content a .News-icon-box i{
    color: #fff;
    font-size: 1.6rem;
    line-height: 3rem;
}

.chatrecord-content a .chatrecord-txt span.user-name {
    position: relative;
    font-size: .9rem;
    margin-left: 1rem;
    text-align: center;
    line-height: 3rem;
}

/*发布评价*/
.header {
    width: 100%;
    min-height: 2.5rem;
    line-height: 2.5rem;
    background-color: #01aff0;
    color: white;
    font-size: 1rem;
    text-align: center;
    position: fixed;
    z-index:1;
}

.header_left {
    min-height: 2.5rem;
    line-height: 2.5rem;
    color: white;
    text-align: left;
    font-size: 1rem;
    position: fixed;
    left: 4%;
    top: 0;
    z-index:1;
}

.header_right {
    min-height: 2.5rem;
    line-height: 2.5rem;
    color: white;
    text-align: right;
    font-size: 0.8rem;
    position: fixed;
    right: 4%;
    top: 0;
    z-index:1;
}


/*发布评论*/
.contaniner{ position: relative; width: 100%;  overflow: hidden; margin: 0; padding-top: 2.5rem;} 
.contaniner1{ position: relative; width: 100%;  overflow: hidden; margin: 0; } 
/*.fixed-cont{margin-top: 5%;margin-bottom: 20%;}*/
.assess{ width: 100%;}
.assess p{ width: 92%; padding-left: 4%; padding-right: 4%;  overflow: hidden; background-color: #fff; }
.assess p span{float: left; width: 10%; font-size: 0.8em;  height: 40px; font-weight: bold; padding-top: 12px;}
.assess p textarea{float: right;  width: 80%; border-radius: 5px; font-size: 0.8em; color: #666; padding: 0.6rem; border: 1px solid #ddd; height: 40px;}

.assess ul{ width: 92%; padding-left: 4%; padding-right: 4%;background-color: #fff;  overflow:hidden;}
.assess ul span{float: left; width: 14%; font-size: 0.8em;  height: 40px; font-weight: bold; padding-top:  0.5rem; line-height: 1.2em;}
.assess ul .assess-right{ float: left; width: 76%; overflow: hidden;}
.assess ul .assess-right img{width: 2rem; padding-left: 4%; display: block; float: left;  padding-top: 0.2rem; padding-bottom: 0.2rem}
.assess ul .assess-right_1{ float: left; width: 76%; overflow: hidden;}
.assess ul .assess-right_1 img{width: 2rem; padding-left: 4%; display: block; float: left;  padding-top: 0.2rem; padding-bottom: 0.2rem}
.assess ul .assess-right_2{ float: left; width: 76%; overflow: hidden;}
.assess ul .assess-right_2 img{width: 2rem; padding-left: 4%; display: block; float: left;  padding-top: 0.2rem; padding-bottom: 0.2rem}
.assess ul .assess-right_3{ float: left; width: 76%; overflow: hidden;}
.assess ul .assess-right_3 img{width: 2rem; padding-left: 4%; display: block; float: left;  padding-top: 0.2rem; padding-bottom: 0.2rem}
.assess ul .assess-right_4{ float: left; width: 76%; overflow: hidden;}
.assess ul .assess-right_4 img{width: 2rem; padding-left: 4%; display: block; float: left;  padding-top: 0.2rem; padding-bottom: 0.2rem}


.dynamic-list1 {
    padding-top: 2.5rem;
}
.dynamic-list-head{ 
    position: relative;
    width: 96%;  
    overflow: hidden; 
    margin: 0;
    margin-left: 4%;
}
.dynamic-list-head,
.dynamic-list-head i{
	line-height: 40px;
}

.dynamic-list-head i.dynamic-i-l{
    position: absolute;
    top: 0px;
    font-size: 1rem;
}
.dynamic-list-head>b{     
    margin-left: 1.2rem;
    font-weight: normal;
    font-weight: bold;
    font-size: 0.8rem;
}
